.customInput {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.customDropdown {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right-color: transparent !important;
  min-width: 7em !important;
}
