.label {
  cursor: pointer !important;
  font-weight: unset !important;
}

:global(.semanticCalendar .CalendarDay--selected-start) {
  background-color: #1C70B0 !important;
  border-color: #1C70B0 !important;
}

:global(.semanticCalendar .CalendarDay--selected-end) {
  background-color: #1C70B0 !important;
  border-color: #1C70B0 !important;
}

:global(.semanticCalendar .CalendarDay--valid.CalendarDay--hovered-span.CalendarDay--hovered) {
  background-color: #1C70B0;
  border-color: #1C70B0;
}

:global(.semanticCalendar .CalendarDay--selected-span) {
  background-color: #2185d0;
  border: 1px solid #2185d0;
}

:global(.semanticCalendar .CalendarDay--hovered) {
  background-color: #1C70B0 !important;
  color: white !important;
}

:global(.semanticCalendar .CalendarDay--selected-span .CalendarDay--hovered) {
  background-color: #1C70B0;
  border: 1px solid #1C70B0;
  color: white;
}

:global(.semanticCalendar .CalendarDay--valid.CalendarDay--hovered-span) {
  background-color: #2185d0;
  border-color: #2185d0;
  color: white;
}

:global(.semanticCalendar .CalendarDay--after-hovered-start) {
  background-color: #2185d0;
  border-color: #80e8e0;
  color: white;
}

:global(.semanticCalendar .CalendarMonth__caption) {
  margin-bottom: 7px;
}

:global(.CalendarDay) {
  border: 0 !important;
}

